body {
    margin: 0;
}

#mapid { 
  height: 100vh;
  position: relative;
 }

#geotimescale {
  position: absolute;
  left: 0px;
}

#github {
  width: 20px;
  height: 20px;
  z-index: 1000;
  position: absolute;
  right: 5px;
  bottom: 20px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#github:hover {
  transform: scale(1.3);
}

#github svg {
  fill: #000;
}

.info {
    padding: 20px 30px;
    box-sizing: border-box;
    width: 300px;
    font: 16px/18px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    font-size: 20px;
    margin: 0 0 5px;
    color: #777;
}

.leaflet-interactive {
    transition: fill 100ms ease;
}

#showgeotimescale {
  transform-origin: top left;
  position: absolute;
  bottom: -3px;
  font-size: 1.5rem;
  left: 100px;
  background: #DFF2F2;
  opacity: 0.7;
  border: 1px solid #777;
  border-radius: 3px;
  z-index: 1000;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

#showgeotimescale:hover {
  bottom: -2px;
  transform: scale(1.05);
  background: #F6F6F6;
  box-shadow: 0 0 35px 2px rgba(0,0,0,.24);
}

@media screen and (max-width: 750px) {
  #showgeotimescale {
    transform-origin: bottom left;
    bottom: 35% !important;
    left: 0px !important;
    transform: rotate(90deg);
    direction: ltr;
  }

  #showgeotimescale:hover {
    bottom: 30% !important;
    left: 0px !important;
    transform: scale(1.05);
    background: #F6F6F6;
    box-shadow: 0 0 35px 2px rgba(0,0,0,.24);
  }

  .info {
    padding: 15px 20px;
    width: 200px;
    font: 14px/16px Arial, Helvetica, sans-serif;
  }
}

#showgeotimescale:active {
  outline: none;
}

/* geo-timescale */
.timescale {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    color:#333;
    cursor: pointer;
  }

rect {
  stroke: #fff;
  stroke-width:1px;
}
#l0 {
  fill:#fff !important;
}
line {
  stroke:#777;
}
.level1 {
  font-size: 1em;
}
.level2 {
  font-size: 0.9em;
}
.level3 {
  font-size: 0.75em;
}
.level4 {
  font-size: 0.65em;
}
.level5 {
  font-size: 0.6em;
}